table.report
{
	border-style: solid;
	border: 1px solid black;
	
}

.bodyAllClients
{
background-color: grey;
color: white;

}

.bodyTotalHrs
{
background-color: green;
color: white;

}

td.header
{
	text-align:left;
	border: 1px solid black;
	font-weight:bold;
}
.logo
{
}

td.t_Date0 { background: #F0F0F0;}
td.t_From0 { background: #FFFFFF;}
td.t_To0 { background: #F0F0F0;}
td.t_Duration0 { background: #FFFFFF;}

td.t_Date1 { background: #E0E0E0;}
td.t_From1 { background: #F0F0F0;}
td.t_To1 { background: #E0E0E0;}
td.t_Duration1 { background: #F0F0F0;}